  /* Add smooth scroll to the whole page */
  html {
    scroll-behavior: smooth;
  }

  .home-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
    z-index: 1; /* Positioned above the video but below the content */
  }

  header.absolute.inset-x-0.top-0.z-100 {
    z-index: 9999;
  }
